<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <script src="https://cdn.bootcss.com/vue/2.5.16/vue.min.js"></script>
    <title>vue</title>
  </head>

  <body>
    <div id="app">
      <div>{{ message }}</div>
      <div>{{ message_ }}</div>
      <div v-if="seen">
        <span v-bind:title="message"
          >鼠标悬停以查看messgae,控制台输入app.seen=false以隐藏</span
        >
      </div>
      <ol>
        <li v-for="todo in todos">{{ todo.text }}</li>
      </ol>

      <button v-on:click="reverseText">反转文字</button>
      <button v-on:click="reverseText_">
        反转文字，箭头函数测试，该按钮应该不能正常工作，因为箭头函数的上下文不一样
      </button>
      <div>
        <div>{{ inputText }}</div>
        <input type="text" v-model="inputText" />
      </div>
    </div>

    <script>
      var app = new Vue({
        el: "#app",
        data: {
          message: "Hello vue!" + new Date().toLocaleString(),
          message_: "Hello vue!" + new Date().toLocaleString(),
          inputText: "输入文字",
          seen: true,
          todos: [
            { text: "get up" },
            { text: "eat breakfirt" },
            { text: "work" },
            { text: "eat dinner" },
            { text: "play" },
            { text: "sleep" }
          ]
        },
        methods: {
          reverseText: function() {
            this.message = this.message
              .split("")
              .reverse()
              .join("");
          },
          reverseText_: function() {
            this.message_ = this.message_
              .split("")
              .reverse()
              .join("");
          }
        }
      });
    </script>
  </body>
</html>
